.container-fluid
  .container
    .modal(role="dialog").popup
      .modal-dialog
        .modal-content
          .modal-header
            h3.modal-title Tic Tac Toe
          .modal-body
            p Please select X or O.
          .modal-footer
            button(type="button" data-dismiss="modal").btn.btn-default.x X
            button(type="button" data-dismiss="modal").btn.btn-default.o O
    .box
      .row
        .col-md-4
          .tile.t-0
            h2.move.m-0
        .col-md-4
          .tile.t-1
            h2.move.m-1
        .col-md-4
          .tile.t-2
            h2.move.m-2
      .row
        .col-md-4
          .tile.t-3
            h2.move.m-3
        .col-md-4
          .tile.t-4
            h2.move.m-4
        .col-md-4
          .tile.t-5
            h2.move.m-5
      .row
        .col-md-4
          .tile.t-6
            h2.move.m-6
        .col-md-4
          .tile.t-7
            h2.move.m-7
        .col-md-4
          .tile.t-8
            h2.move.m-8